.appBackground {
  background: black;
}

.characterTile {
  background-color: #999;
  color: rgba(251, 221, 42, 1);
  border-radius: 0;
  box-shadow: -5px -5px 0 rgba(251, 221, 42, 1);
  margin: 10px;
}

.appFooter {
  flex: 0 0 10%;
  display: flex;
  align-items: center;
}

.modalBody {
  background-color: #999;
  max-height: 60vh;
  color: rgba(251, 221, 42, 1);
  padding: 0;
  overflow: auto;
  min-width: 600px;
  width: 50% !important;
  box-shadow: 10px 10px 0 rgba(251, 221, 42, 1);
}